<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/public/static/favicon.ico> <title>vue</title>
    <link href=/public/static/css/chunk-00f95add.40f2f0b1.css rel=prefetch>
    <link href=/public/static/css/chunk-03f0f2c0.16952b27.css rel=prefetch>
    <link href=/public/static/css/chunk-0c1074d8.0442d2d7.css rel=prefetch>
    <link href=/public/static/css/chunk-1cdfe153.173d93bb.css rel=prefetch>
    <link href=/public/static/css/chunk-47cb03b2.7d3444cc.css rel=prefetch>
    <link href=/public/static/css/chunk-796fd6f3.6f989a3b.css rel=prefetch>
    <link href=/public/static/css/chunk-7c3307c2.99302ad4.css rel=prefetch>
    <link href=/public/static/css/chunk-8366644c.567d3f7e.css rel=prefetch>
    <link href=/public/static/css/chunk-91b1ddd8.492a8d96.css rel=prefetch>
    <link href=/public/static/css/chunk-952c4740.fe1a4fbf.css rel=prefetch>
    <link href=/public/static/css/chunk-98c1944e.0a3206ff.css rel=prefetch>
    <link href=/public/static/css/chunk-a1a0b792.c92d0cef.css rel=prefetch>
    <link href=/public/static/css/chunk-a9d73fe4.498978f8.css rel=prefetch>
    <link href=/public/static/css/chunk-adca2bc0.49f3fd6c.css rel=prefetch>
    <link href=/public/static/css/chunk-da8b39f8.03067fc5.css rel=prefetch>
    <link href=/public/static/css/chunk-fb552eea.30301fa5.css rel=prefetch>
    <link href=/public/static/js/chunk-00f95add.526db2e8.js rel=prefetch>
    <link href=/public/static/js/chunk-03f0f2c0.f804efbc.js rel=prefetch>
    <link href=/public/static/js/chunk-0c1074d8.129970dc.js rel=prefetch>
    <link href=/public/static/js/chunk-1cdfe153.b1359e92.js rel=prefetch>
    <link href=/public/static/js/chunk-47cb03b2.31727461.js rel=prefetch>
    <link href=/public/static/js/chunk-796fd6f3.c6cc46ee.js rel=prefetch>
    <link href=/public/static/js/chunk-7a505384.7de9d81c.js rel=prefetch>
    <link href=/public/static/js/chunk-7c3307c2.beb9e40b.js rel=prefetch>
    <link href=/public/static/js/chunk-8366644c.134d22cc.js rel=prefetch>
    <link href=/public/static/js/chunk-91b1ddd8.9855caf3.js rel=prefetch>
    <link href=/public/static/js/chunk-952c4740.04240798.js rel=prefetch>
    <link href=/public/static/js/chunk-98c1944e.72c3976a.js rel=prefetch>
    <link href=/public/static/js/chunk-a1a0b792.78841d15.js rel=prefetch>
    <link href=/public/static/js/chunk-a9d73fe4.50b5ef29.js rel=prefetch>
    <link href=/public/static/js/chunk-adca2bc0.e86e5e3f.js rel=prefetch>
    <link href=/public/static/js/chunk-da8b39f8.344db465.js rel=prefetch>
    <link href=/public/static/js/chunk-fb552eea.764311f9.js rel=prefetch>
    <link href=/public/static/css/app.4b6f9587.css rel=preload as=style>
    <link href=/public/static/css/chunk-vendors.279537f9.css rel=preload as=style>
    <link href=/public/static/js/app.a1883f41.js rel=preload as=script>
    <link href=/public/static/js/chunk-vendors.5baba4bd.js rel=preload as=script>
    <link href=/public/static/css/chunk-vendors.279537f9.css rel=stylesheet>
    <link href=/public/static/css/app.4b6f9587.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but vue doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=/public/static/js/chunk-vendors.5baba4bd.js> </script> <script src=/public/static/js/app.a1883f41.js> </script>
        </body> </html>