<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <title>mall2</title>
    <link href=/public/static/css/app.fc69e1cbc0640033ebfcd21865c8c74d.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/public/static/js/manifest.5eaac284977f99feae54.js> </script> 
    <script type=text/javascript src=/public/static/js/vendor.09bdcf767dfe05023e41.js> </script> 
    <script type=text/javascript src=/public/static/js/app.5d5026267e784f1ded06.js></script>
 </body> </html>